<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit OI Rates</title>
</head>
<body>
    <h2>Edit OI Rates</h2>
    
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save </button>
    </form>

    <br>

    <a href="{% url 'admin_module:oi_rates' %}">Back to OI Rates</a>
</body>
</html>
