<h1>Dictionaries</h1>

<ul>
    <li><a href="{% url 'admin_module:cities' %}">Cities</a></li>
    <li><a href="{% url 'admin_module:currencies' %}">Currencies</a></li>
    <li><a href="{% url 'admin_module:exchange_rates' %}">Exchange Rates</a></li>
    <li><a href="{% url 'admin_module:gpa_code' %}">GPA Code</a></li>
    <li><a href="{% url 'admin_module:subclass' %}">Subclass</a></li>
</ul>
<style>
h1 {
    text-align: center;
    font-size: 24px;  /* Размер шрифта для заголовка */
    margin: 20px 0;   /* Отступы сверху и снизу */
}

ul {
    list-style: none; /* Убирает маркеры списка (bullets) */
    padding: 0;       /* Убирает отступы внутри списка */
}

li {
    margin-bottom: 10px;  /* Отступ между элементами списка */
}

a {
    text-decoration: none;  /* Убирает подчеркивание ссылок */
    color: #007BFF;        /* Цвет текста ссылок */
}

a:hover {
    color: #0056b3;  /* Цвет текста ссылок при наведении */
}
</style>